## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.template_helpers import add_sr, static
%>

<!--form action="${add_sr('/search')}" id="search">
  <input type="text" 
         %if thing.prev_search:
           value="${thing.prev_search}" style="color:black"
         %else:
           value="${_('search reddit')}" class="gray"
         %endif
         name="q"/>
  %for k, v in thing.search_params.iteritems():
    <input type="hidden" name="${k}" value="${v}" />
  %endfor
</form-->

<!-- about doboz start -->
<!--div class="infobar" style="margin:5px 0px 5px 0px;">
    <div class="md">
	<iframe src="http://wiki.szimpatikus.hu/about.php"/ style="width:100%;height:130px;" scrolling="no" frameborder="no"></iframe>
    </div>
</div-->
<!-- about doboz end -->

<br/>

<!-- google kereso start -->
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'hu'});
    google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('005438550550475821498:cs8rdq7q1sw');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<style>
input.gsc-search-button {
    background-color: #eff6fd;
    color: #336699;
    font-weight: bold;
    font: verdana,arial,helvetica,sans-serif;
    height: 28px;
    font-size: 15px;
    letter-spacing: -1px;
    padding: 3px;
    border: #c4dbf1 1px solid;
}
input.gsc-input {
    height: 28px;
    font: x-small verdana,arial,helvetica,sans-serif;
    font-size: 150%;
}
.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0%;
    width: 100%;
}
</style>
<!-- google kereso end -->
